body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.mr {
  margin-left: 30px;
  margin-bottom: 6px;
}
.visibleBtn {
  background: lime;
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.disableBtn {
  background: rgb(0, 122, 0);
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: rgb(178, 178, 178);
  padding: 5px 10px;
  border-radius: 4px;
}
